body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin:0;
    background-color: rgb(46, 44, 44);
    font-family: 'TTTtangsbudaejjigaeB';
}
.box1{
    display:flex;
    width: 550px;
    height: 100vh;
    background-color:#A8B8A6;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box2{
    display:flex;
    width:500px;
    height: 600px;
    background-color:#791A1A; 
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.box3{
    width:450px;
    height: 550px;
    background-color:#1B5B16; 
    border-radius: 20px;
}
.all{
    display:flex;
    align-items:center;
    justify-content: flex-start;
}
.score_box{
    display: flex;
    width: 150px;
    height:30px;
    background-color: white;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}

.rank{
    display:flex;
    position:absolute;
    font-size: 120%;
    width: 35px;
    height:150px;
    border-radius: 10px;
    background-color: black;
    color:white;
    align-items: center;
    justify-content: center;
    top:350px;text-align: center;
    z-index:2;
}
.school_name{
    font-size: 200%;
    font-weight: bolder;
}
.hog{
    display:none;
    width:30px;
    height:40px;
}

@keyframes change-size {
    from {
        width: 40px;
        height: 40px;
    }
    to {
        width: 50px;
        height: 50px;
    }
}
@keyframes Big-size {
    from {
        width: 0px;
        height: 0px;
    }
    to {
        width: 40px;
        height: 40px;
    }
}
@keyframes fade-size{
    from {
        width: 40px;
        height: 40px;
    }
    to {
        width: 0px;
        height: 0px;
    }
}

.animate {
    animation: change-size 0.3s infinite alternate;
}

.animate2 {
    animation: Big-size 0.3s;
}
.animate3 {
    animation: fade-size 0.3s;
}
.ab{
    position: absolute;
}
@keyframes move-left{
    from{
        left: 300px;
    }
    to{
        left: null;
    }
}
.rank_box{
    width:350px;
    height:500px;
    position:absolute;
    background-color: #D9D9D9;
    top: 100px;
    border-color: black;
    border-style: 20px;
    border-radius: 20px;
    z-index: 1;
    /* animation: move-left 1s; */
}
@font-face {
    font-family: 'TTTtangsbudaejjigaeB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/TTTtangsbudaejjigaeB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}