#search {
    border-radius: 5px;
    margin-top: 20px;
    border: 1px solid black;
    
}
strong {
    font-size : 150%; 
    border-radius: 5px;
}
.schooll{
    position:relative;
    top:120px;
}
#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    max-width: 450px;
    background-color: #A8B8A6;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    font-family:'TTTtangsbudaejjigaeB';
    background-color: rgb(46,44,44);
}
.daughter {
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
    top:120px;
}
.glass {
    position: absolute;
    top: 21px;
    right: 0px;
    width: 39px;
    border: solid;
    border-radius: 5px;
}
.mole {
    display: flex;
    max-width: 350px;
    width:50vw;
    height: 450px;
    margin-top: 170px;
    margin-bottom: 35px;        
}
.school {
    display:flex;
    position: relative;
    width: 90px;
    height: 100px;
    bottom:590px;
}
.chainword {
    display: flex;
    background-color: white;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 1vh;
    text-decoration: none;
    border-bottom: 1px solid #b6b6b6;
}
.stadium{
    display:flex;
    justify-content: center;
    align-items: center;
}
@font-face {
    font-family: 'TTTtangsbudaejjigaeB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/TTTtangsbudaejjigaeB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
.catch {
    display: flex;
    font-size: 130%;
    position:relative;
    top:30px;
}

#search-list{
    position: absolute;
    top: 7vh;
    max-height: 20vh;
    overflow-y: scroll;
    background-color: white;
}

a{
    color: black;
}